name: Build

on: [push, pull_request]

jobs:
  build-gcc:
    name: ${{ matrix.platform.name }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        platform:
          - { name: Linux (gcc 9),    compiler: gcc,   version:  9 }
          - { name: Linux (gcc 10),   compiler: gcc,   version: 10 }
          - { name: Linux (gcc 11),   compiler: gcc,   version: 11 }
          - { name: Linux (gcc 12),   compiler: gcc,   version: 12 }
          - { name: Linux (gcc 13),   compiler: gcc,   version: 13 }
          - { name: Linux (gcc 14),   compiler: gcc,   version: 14 }
          - { name: Linux (gcc 15),   compiler: gcc,   version: 15 }
          - { name: Linux (clang 11), compiler: clang, version: 11 }
          - { name: Linux (clang 12), compiler: clang, version: 12 }
          - { name: Linux (clang 13), compiler: clang, version: 13 }
          - { name: Linux (clang 14), compiler: clang, version: 14 }
          - { name: Linux (clang 15), compiler: clang, version: 15 }
          - { name: Linux (clang 16), compiler: clang, version: 16 }
          - { name: Linux (clang 17), compiler: clang, version: 17 }
          - { name: Linux (clang 18), compiler: clang, version: 18 }
          - { name: Linux (clang 19), compiler: clang, version: 19 }
          - { name: Linux (clang 20), compiler: clang, version: 20 }
          - { name: Linux (clang 21), compiler: clang, version: 21 }

    container:
      image: ${{ matrix.platform.compiler == 'gcc' && 'gcc' || matrix.platform.compiler == 'clang' && 'teeks99/clang-ubuntu' }}:${{ matrix.platform.version }}

    steps:
      - uses: actions/checkout@v6
      - name: Setup
        run: |
          apt-get update && apt-get install -y cmake
      - name: Setup
        if: ${{ matrix.platform.compiler == 'clang' }}
        run: |
          apt-get update
          apt-get install -y libc++-${{ matrix.platform.version }}-dev libc++abi-${{ matrix.platform.version }}-dev
          
          if [[ ${{ matrix.platform.version }} -ge 12 ]]; then
            apt-get install -y --no-install-recommends libunwind-${{ matrix.platform.version }}-dev
          fi
          
          if [[ "${{ matrix.platform.version }}" -eq 14 ]]; then
            apt-get install -y --no-install-recommends libclang-rt-${{ matrix.platform.version }}-dev
          fi
          
          echo "CC=clang-${{ matrix.platform.version }} >> $GITHUB_ENV
          echo "CXX=clang-${{ matrix.platform.version }} >> $GITHUB_ENV
      - name: CMake (Configure)
        run: |
          cmake -B build

  build-win-mac:
    runs-on: ${{ matrix.platform.os }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - { name: Windows, os: windows-latest }
          - { name: macOS, os: macos-latest }

    steps:
      - uses: actions/checkout@v6
      - name: CMake (Configure)
        run: |
          cmake -B build
