name: Build

on: [push, pull_request]

jobs:
  build-gcc:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        platform:
          - { name: Linux (gcc 10),   compiler: gcc,  version: 10 }
          - { name: Linux (gcc 11),   compiler: gcc,  version: 11 }
          - { name: Linux (gcc 12),   compiler: gcc,  version: 12 }
          - { name: Linux (gcc 13),   compiler: gcc,  version: 13 }
          - { name: Linux (gcc 14),   compiler: gcc,  version: 14 }
          - { name: Linux (gcc 15),   compiler: gcc,  version: 15 }
          - { name: Linux (clang 11), compiler: clang, version: 11 }
          - { name: Linux (clang 12), compiler: clang, version: 12 }
          - { name: Linux (clang 13), compiler: clang, version: 13 }
          - { name: Linux (clang 14), compiler: clang, version: 14 }
          - { name: Linux (clang 15), compiler: clang, version: 15 }
          - { name: Linux (clang 16), compiler: clang, version: 16 }
          - { name: Linux (clang 17), compiler: clang, version: 17 }
          - { name: Linux (clang 18), compiler: clang, version: 18 }
          - { name: Linux (clang 19), compiler: clang, version: 19 }
          - { name: Linux (clang 20), compiler: clang, version: 20 }
          - { name: Linux (clang 21), compiler: clang, version: 21 }

    container:
      image: ${{ matrix.platform.compiler == 'gcc' && 'gcc' || matrix.platform.compiler == 'clang' && 'teeks99/clang-ubuntu' }}:${{ matrix.platform.version }}

    steps:
      - uses: actions/checkout@v4
      - name: Setup
        run: |
          apt-get update && apt-get install -y cmake valgrind zlib1g-dev git
      - name: Setup
        if: ${{ matrix.platform.compiler == 'clang' }}
        run: |
          echo "CC=clang-${{ matrix.platform.version }}
          echo "CXX=clang-${{ matrix.platform.version }}
      - name: CMake (Configure)
        run: |
          cmake -B build

  build-win-mac:
    runs-on: ${{ matrix.platform.os }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - { os: windows-latest }
          - { os: macos-latest }

    steps:
      - uses: actions/checkout@v4
      - name: CMake (Configure)
        run: |
          cmake -B build
